@import "~normalize.css";
@import "roboto.css";

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: white;
    letter-spacing: 2px;
    font-size: 11px;
    width: 100%;
    height: 100vh;
  }

html {
    margin: 0;
    padding: 0;
    background: #25252B;
  }

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
    padding-top: 2rem;
    min-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

/* #threescene {
    position: relative;
} */

#centerer {
    display: table;
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#canvasjs {
    width: 800px;
    height: 800px;
    position: absolute;
    left: 0 auto;
    top: auto;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#c {
    position: absolute;
    top: 0;
    width: 600px;
    height: 600px;
    display: block;
}